<p><%= link_to 'View all products', all_products_path %></p>
<p><%= link_to 'View all categories', all_categories_path %></p>
<p><%= link_to 'Add a new product', new_product_path %></p>
<p><%= link_to 'Add a new category', new_category_path %></p>
<p><%= link_to 'Edit a product', all_products_path %></p>
<p><%= link_to 'Edit a category', all_categories_path %></p>
<p><%= link_to 'Delete a product', all_products_path %></p>
<p><%= link_to 'Delete a category', all_categories_path %></p>